body {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    /*font-family: 'Moritz Sans', sans-serif;*/
    font-family: Helvetica,  Arial, sans-serif;
    margin: 0;
    padding-bottom: 40px;
  }

  /*@font-face {
    font-family: 'Moritz Sans';
    src: url('https://moritzgauss.com/assets/moritzsans-condensed-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'Moritz Sans Neue Bold';
    src: url('https://moritzgauss.com/assets/moritzsans-neue-condensed-bold.woff') format('woff');
  }*/


  
.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px; 
    overflow: visible;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    width: 100%;
}

.moritz {
    display: inline-block;
}

.logo a {
    /*font-family: 'Moritz Sans Neue Bold', sans-serif;*/
    font-family: Helvetica,  Arial, sans-serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    color: black;
    letter-spacing: -2.5px;
    white-space: nowrap;
    box-sizing: border-box; 
    text-decoration: none;
    cursor: pointer;
}

.logo a:hover {
    font-family: Times, serif;
    font-style: italic;
    letter-spacing: -2px;
    padding-right: 4px;
}

.subtitle {
    font-family: Times, serif;
    font-size: 0.8em;
    font-weight: 300;
    margin-top: -6px;
    margin-bottom: 0;
    text-align: left;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6px;
    margin-bottom: 10px;
}

nav a {
    font-size: 1.2em;
    line-height: 1.1;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

nav a:hover {
    font-family: Times, serif;
    font-style: italic;
    padding-right: 4px;
}

nav a.active {
    font-family: Times, serif;
    font-style: italic;
    text-decoration: underline; 
    padding-right: 4px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.combined-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }   

 .info {
    min-height: 120px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 14px;
}

.info h2 {
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 6px;
    margin-top: 0;
}

.info p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: 300;
    font-size: 1em;
    margin-top: 6px;
    line-height: 1;
}

.info a {
    color: black;
    font-family: Times, serif;
    text-decoration: underline;
    line-height: 1.2;
    font-size: 1.2em;
}


.content {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 10px; 
    margin-left: 10px;
    overflow-x: auto; 
    max-width: 100%;
    height: auto;
}

.scroll-box {
    align-items: flex-start;
    height: auto;
    width: 400px;
    text-align: left;
    flex: 0 0 auto;
}

.img-container {
    width: 100%;
    background-color: #fff;
    height: auto;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.img-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.iframe-container {
    width: 100%;
    background-color: #fff;
    height: auto;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.iframe-container iframe {
  width: 1200px; 
  height: 900px;
  transform: scale(0.333);
  transform-origin: 0 0;
  pointer-events: none;
  transition: filter 0.3s ease;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.iframe-container:hover iframe {
    filter: blur(1px) brightness(1);
}

.arrows-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 6px;
    margin-top: 2px;
    padding: 10px 10px 0;
}

.arrows .arrow {
    font-size: 36px;
    line-height: 32px;
    cursor: pointer;
}

.arrow_left, .arrow_right {
    color: black;
}
    
.zoomed-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.zoomed-container.active {
    display: flex;
}

.zoomed-image {
    max-width: 70vw;
    max-height: 70vh;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
  

@media (min-width: 768px) {
    .header-container {
        padding: 20px;
    }
    .logo a {
        font-size: 5em;
        letter-spacing: -5px;
    }
    .logo-image img {
        height: 72px;
    }
    nav a {
    font-size: 1.6em;
    line-height: 1.1;
    }
    .subtitle {
      font-size: 1.4em;
      margin-top: -8px;
      }
    .content {
        margin-left: 20px;
    }
    .arrows-wrapper {
        padding: 10px 20px 0;
    }
    .discr-container {
        padding-left: 20px;
    }
     .iframe-container iframe {
    transform: scale(0.5);
    }
    .info {
    padding-left: 20px;
    padding-right: 24px;
    }

    .info h2 {
        font-size: 1.9em;
    }
    .zoomed-image {
        max-width: 70vw;
        max-height: 70vw;
    }
    .scroll-box {
        width: 600px;
        height: auto;
    }
    .discr-container {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    .header-container {
    background-color: rgba(0, 0, 0, 0.1);
    }
    
    .logo a {
        color: white;
    }
    
    .logo-light {
    display: none;
    }
    .logo-dark {
    display: block;
    }
  
    nav a {
        color: white;
    }
    .info {
        color: white;
    }  
    .info a {
        color: white;
    }   
    .arrow_left, .arrow_right {
        color: white;
    }
}
